.container{
    display: flex;
    justify-content: center;
}
h1{
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    color: rgb(13, 46, 72);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    background-color: rgb(109, 165, 221);
    font-weight: bolder;
}
*{
    background-color: rgb(248, 248, 248);
}
.btn-btn-primary{
    font-weight: bolder !important;
    
}
.col-md-4{
    perspective: 1000px;
}
.card {
    margin-top: 10px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    transition: 1s linear;
    border: 3px solid rgba(0,0,0,.125) !important ; 
    border-radius: 7px !important;

    
}
.card-body{
    padding: 1.5;
}

.card{    
    transition:all 1s ease-in-out;
    transform-style:preserve-3d;
  }

  .card:hover {
   
    transform: rotateY(10deg);
  }